<html lang="en">
  <head>
    <% include ../helpers/head %>
  </head>
  <body class="container">

    <header>
      <% include ../helpers/navbar %>
    </header>

    <main>
      <div class="jumbotron">
        <h1>Cara Sciorilli</h1>
        <p>Welcome to my personal website!</p>
        <p><a class="btn btn-primary btn-lg" href="https://github.com/Cara-Sciorilli" target="_blank" role="button">My Github</a></p>
      </div>
    </main>

  </body>
</html>