<html lang="en">
<head>
    <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>

  <main>
    <div class="page-header">
      <h1>Projects Page</h1>
    </div>
    <div class="container">
    <div class="code-container">
        <img src="/images/Simon.JPG"/>
        <div>
          <h3>Simon Game</h3>
          <p>This is the multi-player game of Simon. Remember Simon Says, the game from your childhood?It's just like that - only digital. Multiple players will take turns adding 1 click to the pattern at a time. When it's a players turn, a pattern will be displayed. The player's task is to replicate the pattern correctly! If the player does so, you then get to add 1 more click.</p>
          <p>This app was fun to work on, it works with live updates to each of the other players while the current player is choosing colors.</p>
          <p><a class="btn btn-primary btn-lg" href="http://simon.carawebdev.com" target="_blank" role="button">Visit the site</a>   <a class="btn btn-primary btn-lg" href="https://github.com/Cara-Sciorilli/simonGame" target="_blank" role="button">See the repo</a></p>
        </div>
    </div>
    <div class="code-container">
      <img src="/images/TaskTracker3.JPG"/>
      <div>
        <h3>Task Tracker 3</h3>
        <p>This app is built off of previous apps I have created, is it a single page application that allows users to register an account, log in and log out, create tasks and assign them to themselves or other users, track how long they have worked on a task in 15 minute increments and mark a task as completed.</p>
        <p>I enjoyed working on this app because it is practical to work with and I plan to continue to add functionality. This app also uses secure password authentication.</p>
        <p><a class="btn btn-primary btn-lg" href="https://tasks3.carawebdev.com" target="_blank" role="button">Visit the site</a>   <a class="btn btn-primary btn-lg" href="https://github.com/Cara-Sciorilli/task_tracker3" target="_blank" role="button">See the repo</a></p>
      </div>
    </div>
    <div class="code-container">
            <img src="/images/Memory.JPG"/>
            <div>
              <h3>Memory Game</h3>
              <p>This is the classic memory game where players must find pairs of cards that are randomly generated each game. This app works through server side logic so that the player cannot "cheat" using their browser developer tools.</p>
              <p><a class="btn btn-primary btn-lg" href="http://memory2.carawebdev.com" target="_blank" role="button">Visit the site</a>   <a class="btn btn-primary btn-lg" href="https://github.com/Cara-Sciorilli/memory" target="_blank" role="button">See the repo</a></p>
            </div>
          </div>
    </div>
  </main>
</body>
</html>